/* !!! Remove this for tailwind after tutorial */
* {
   box-sizing: border-box;
 }
 body {
   margin: 0 auto;
   line-height: 1.5;
 }
 .line {
  border: 2px solid white;
  border-radius: 5px;
 }

 .nav-links {
  width: 100%;
  display: none;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.holder {
  margin: 0.25rem 0;
  padding: 0.5rem;
  background-color: orange;
  border: 1px solid white;
  border-radius: 3px;
}
.nav-links a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.nav-head {
  display: none;
}
.expanded {
  display: flex;
}
.expanded2 {
  display: unset;
}


@media screen and (min-width: 636px) {
  .nav-links {
    top: 5rem;
    margin-left: auto;
    width: auto;
    background: none;
  }
  .nav-head {
    display: unset;
  }
  .holder {
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: 3px;
    border: 0px solid black;
    background-color: black;
    transition-duration: 150ms;

  }
  .nav-links a {
    display: inline-block;
    font-size: 1.2rem;
  }
  .holder:hover,
  .holder:focus {
    scale: 110%;
    background-color: orange;
  }
  .hamburger {
		display: none;
	}

}
