---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import "../styles/global.css";
---

<!-- !!!Need to bump this back into tail wind sometime -->
<div class="flex justify-evenly w-full">
	<div class="nav-head expanded2 text-xl font-bold my-auto mr-auto ml-1">
		Cannizzian Test
	</div>
	<div class="nav-links">
		<!-- !!! this is a mess -->
		<div class="holder">
			<a class={currentPath === "" ? "currentp" : ""} href="/">Home</a>
		</div>
		<div class="holder">
			<a class={currentPath === "blog" ? "currentp" : ""} href="/blog"
				>Blog</a
			>
		</div>
		<div class="holder">
			<a class={currentPath === "about" ? "currentp" : ""} href="/about">
				About Me
			</a>
		</div>
		<div class="holder">
			<a class={currentPath === "tags" ? "currentp" : ""} href="/tags">
				Tags
			</a>
		</div>
	</div>
</div>
