---
import Socials from "./Socials.astro";
---

<footer class="mt-8 mr-4 bottom-0 sticky float-right gap-1">
	<div class="">
		<Socials platform="github" username="Catocannizzo" />
		<Socials platform="instagram" username="Cato_cannizzo" />
	</div>
</footer>
