---
import Socials from "./Socials.astro";
---

<footer
	transition:name="footer"
	transition:animate="slide"
	class="sticky bottom-0 float-right mr-4 mt-8 gap-1"
>
	<div class="">
		<Socials platform="github" username="Catocannizzo" />
		<Socials platform="instagram" username="Cato_cannizzo" />
	</div>
</footer>
