---
import Hamburger from "./HeaderComps/Hamburger.astro";
import ThemeIcon from "./HeaderComps/ThemeIcon.astro";
import Navbar from "./HeaderComps/Navbar.astro";
//This is the top element of the page.
//The hamburger element has display none on medium+ interfaces with the help of the menu script in the base layout
//The CSS navbar moves from vertial to horizontal block
---

<header>
	<nav
		class="flex items-center overflow-visible bg-black p-2 text-white dark:bg-white dark:text-black"
	>
		<Hamburger />
		<div id="web-title" class="p-.5 ml-1 w-1/5 text-xl font-bold">
			Cannizzian Test
		</div>
		<Navbar />
		<ThemeIcon />
	</nav>
</header>
