---
import Base from "@layouts/Base.astro";
const pieces = await Astro.glob('./*.md');
---
<Base title="My Blog Posts">
   <h1 class="mb-6 text-6xl">My Blog Posts</h1>
   <div>
      {pieces.map(piece =>(
         <div class="py-4 border-b first:border-t hover:bg-slate-300 rounded">
            <a class="text-blue-700 hover:underline" href={piece.url}>{piece.frontmatter.title}</a>
         </div>
      ))}
   </div>
</Base>