---
import type { MarkdownLayoutProps } from "astro";
import type { BlogPostFrontMatter } from "@types";
import Base from "./Base.astro";

//imports the explictly typed props for intellisense and error checking
type Props = MarkdownLayoutProps<BlogPostFrontMatter>;//

const { title, date, author } = Astro.props.frontmatter

//In the future come back and grab local time type off user data
const formatDate = (date:string): string => {
   return new Date(date).toLocaleDateString("en-emodeng", 
   {year: "numeric", 
   month: 'long', 
   day:"numeric"})
}
---
<Base title="Blog Post" heading={title}>
   <div>
      <p> Written by: {author} </p>
      <p class="mb-4"> {formatDate(date)}</p>
   </div>
   <div class="prose">
      <slot></slot>
   </div>
</Base>